/**

   reset css :
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Raleway semibold";
  src: url("/font/Raleway-SemiBold.ttf") format("woff");
}

@font-face {
  font-family: "Raleway italic";
  src: url("/font/Raleway-Italic.ttf") format("woff");
}

* {
  font-family: "Raleway";
}

h1, strong {
  font-family: "Raleway semibold";
}
/* end reset */


/*
    photobox : nav
 */
div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

/**
  photobox : Galerie
 */
.gallery-container {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em,1fr));
    grid-gap: .2em;
}

.vignette img {
    max-width: 100%;
    height: 100%; 
}


/**
  photobox : Lightbox
 */
.lightbox_container {
  overflow: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0rem;
  right: 0rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.lightbox_container--hidden {
    display : none;
}
.lightbox_container--visible {
    display : block;
}

#lightbox {
    max-width: 100vw;
    margin: 2rem auto;
    border-radius: 5px;
    height: 100%;
}

#lightbox > navigation{
  display : flex;
}

#lightbox-img {
    width: 100%;
    height: 80%;
    position:relative;
    margin-bottom: 1rem;
}

#lightbox-img img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
#lightbox-head {
    padding-top: 1rem ;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    height: 8%;
    width: 100%;
    color: white;
}

#lightbox_title {
  font-size: 1.5rem;
}

#lightbox_close {
  cursor: pointer;
  position: absolute;
  right: 21%;
  top: 5.5%;
}

#lightbox-details {
  padding: 1rem;
}

#lightbox-details > #lightbox-commons-data {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
}

#lightbox-details > #lightbox-commons-data > h1, #lightbox-comments > h1, #comment-post > h1 {
  text-align: center;
}

#lightbox-details > #lightbox-commons-data > p {
  font-size: 1.3rem;
}

#lightbox-comments {
  margin: 3rem 0;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

#lightbox-comments > .comment {
  background-color: rgb(231, 231, 231);
  margin-bottom: 1rem;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px;
}

#lightbox-comments > .comment > #comment-header {
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 1px solid rgb(195, 195, 195);
}

#lightbox-comments > .comment > #comment-header, #lightbox-comments > .comment > #comment-header > div {
  display: flex;
  gap: 1rem;
  align-items: center;

}

#lightbox-comments > .comment > #comment-header > img {
  width: 2.5rem;
}

#lightbox-comments > .comment > #comment-header > div > #date {
  font-family: "Raleway italic";
  color: rgb(87, 85, 85);
}

#lightbox-comments > .comment > #comment-content {
  padding: 0.5rem;
}

#comment-post > form {
  display: block;
  width: 25vw;
  margin: auto;
}

#comment-post > form > button {
  padding: 0.3rem;
  width: 5rem;
  border-radius: 5px;
  background-color: darkgray;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-group > input, .form-group > textarea {
  width: 25vw;
  border-radius: 5px;
  padding: 0.5rem;
}

.form-group > textarea {
  max-width: 25vw;
  min-width: 25vw;
}



